{#
/**
 * @file
 * Form - Form element.
 */
#}
<div{{ attributes.addClass(classes) }}>
  {% if label_display in ['before', 'invisible'] %}
    {% block label_before %}
      {% include "@atoms/forms/form-element-label.twig"
        with {
        "attributes": label.attributes
        }
      %}
    {% endblock %}
  {% endif %}

  {% if prefix is not empty %}
    {% block prefix %}
      <span class="field-prefix">{{ prefix }}</span>
    {% endblock %}
  {% endif %}

  {% if description_display == 'before' and description.content %}
    {% block desc_before %}
      <div{{ description.attributes }}>
        {{ description.content }}
      </div>
    {% endblock %}
  {% endif %}

  {% block children children %}

  {% if suffix is not empty %}
    {% block suffix %}
      <span class="field-suffix">{{ suffix }}</span>
    {% endblock %}
  {% endif %}

  {% if label_display == 'after' %}
    {% block label_after %}
      {% include "@atoms/forms/form-element-label.twig" %}
    {% endblock %}
  {% endif %}

  {% if errors %}
    {% block errors %}
      <div class="form-item--error-message">
        <strong>{{ errors }}</strong>
      </div>
    {% endblock %}
  {% endif %}

  {% if description_display in ['after', 'invisible'] and description.content %}
    {% block desc_after %}
      <div{{ description.attributes.addClass(description_classes) }}>
        <small>{{ description.content }}</small>
      </div>
    {% endblock %}
  {% endif %}
</div>
