<aside class="branding">
  {% if imgSrc %}
    <a href="{{ url }}" class="branding__link">
      <img src="{{ imgSrc }}" class="branding__image">
    </a>
  {% endif %}
  {% if siteTitle %}
    <div class="branding__title">
      <a href="{{ url }}">{{ siteTitle }}</a>
    </div>
  {% endif %}
  {% if siteSlogan %}
    <div class="branding__slogan">{{ siteSlogan }}</div>
  {% endif %}
</aside>
