{#
/**
 * @file
 * Block - Search.
 */
#}
{{ pl_prefix }}
  <aside class="search">
    {% block title %}
      {{ title_prefix }}
      {% if label %}
        <h2{{ title_attributes }}>{{ label }}</h2>
      {% endif %}
      {{ title_suffix }}
    {% endblock %}

    {% block content %}
      {{ content }}
    {% endblock %}
  </aside>
{{ pl_suffix }}
